/* Basic Reset */
* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/* Body styling */
body {
    front-family: Arial, sans-serif;
    background-color:  #f4f4f4;
    color: #333;
    padding:    20px;
}

/* Header styling */
header {
    text-align: center;
    margin-bottom: 30px;
}

/* Upload section styling */
#upload-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom  20px;
}

#upload-section h2 {
    margin-top: 0;
}

#upload-section form {
    display: flex;
    flex-direction: column;
}

#upload-section input,
#upload-section textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
   background-color: #0056b3
}

/* Video feed section styling */
#video-feed {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#video-feed h2 {
    margin-top: 0;
}

#videos-list {
    display: flex;
    flex-direction: column;
}

.video-item {
    margin-bottom: 15px;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}